

<button class="btn" (click)="onClick(currentPage-1)" [disabled]="currentPage === 0">
        <span class="glyphicon glyphicon-chevron-left"></span>
    back
</button>
<ng-container *ngFor="let page of pages; let ind = index">
    <button class="btn" (click)="onClick(ind)" [ngClass]="{'activePage': currentPage + 1 === page}">
        {{page}}
    </button>
</ng-container>


<button class="btn" (click)="onClick(currentPage+1)" [disabled]="currentPage + 1 === pages.length">
        <span class="glyphicon glyphicon-chevron-right"></span>
    forward
</button>

